/* Back To Top Button */
#backToTop
{
    display: block;
    position: fixed;
    /* top: 100px; */
    bottom: 20px;
    right: 20px;
    font-size: 26px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    border: 3px solid #333;
    border-radius: 50%;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: background-color, color;
}

#backToTop:hover, #backToTop:focus
{
    background-color: #333;
    color: #fff;  
}

    /* Back To Top Animation */
    .buttonVisible
    {
        animation-duration: 0.5s;
        animation-fill-mode: both;
        animation-name: buttonVisible;
    }

    /* Fade In */
    @keyframes buttonVisible
    {
        from
        {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        to
        {
            opacity: 1;
            transform: translate3d(0, 0, 0);
        }
    }

    /* Fade Out */
    .buttonInvisible
    {
        animation-duration: 0.25s;
        animation-fill-mode: both;  
        animation-name: buttonInvisible;
    }

    /* fadeOutDown */
    @keyframes buttonInvisible
    {
        from
        {
            opacity: 1;
        }

        to
        {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }

header
{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: transparent;
    transition: background 0.5s ease-in;
    backdrop-filter: blur(6px);
}

/* Set Nav Sticky When Scrolling Down the Webpage */
.scrollActive
{
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    transition: 0.5s all;
    background-color: #3d3d3d8f;
}

    #navBar
    {
        height: 97px;
        width: 100vw;
        z-index: 1;
        display: flex;
        position: relative;
        align-items: center;
        padding: 1.13vh 11.7vw;
        /* background-color: #4e5977; */
        justify-content: space-between;
    }

#contentAuthor
{
    padding: clamp(30px, 10vw, 180px);
    width: 100vw;
    height: 100vh;
    background-image: url("../Images/indexBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #portrait
    {
        border: 12px solid white;
        border-radius: 50%;
        width: clamp(200px, 30vw, 600px);
    }

    #portraitInfo
    {
        /* font-size: clamp(18px, 2.5vw, 60px); */
        padding-left: 1rem;
        max-width: 50%;
        background-color: red;
    }

#liveByVerses
{
    padding: 14vh 12vw;
    height: 100%;
    background-color: rgb(160, 123, 160);
}

#aboutTopics
{
    padding: 14vh 12vw;
    height:  100%;
    background-color: orange;
}

#contentInfo
{
    height: 100%;
    padding: 16vh 14vw;
}

footer
{
    height: 10vh;
    display: flex;
    padding: 0 3em;
    align-items: center;
    background-color: #4e5977;
    justify-content: space-between;
}

#copyRight
{
    width: 230px;
    color: white;
    font-size: clamp(8px, 8vw, 17px);
}

#socialMedia
{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

    #socialMedia li a
    {
        color: white;
        font-size: 1.5rem;
        padding: 0.5em 0.8em;
        cursor: context-menu;
    }

        #social
        {
            transition: 0.3s all;
        }

        #social:hover
        {
            transform: scale(1.5);
        }

@media only screen and (max-width: 992px)
{
        #portrait
        {
            display: none;
        }

        #portraitInfo
        {
            max-width: 100%;
            /* width: clamp(500px, 21vw, 2rem); */
            padding: 0;
        }
}

@media only screen and (max-width: 768px)
{
    #backToTop
    {
        font-size: 18px;
        width: 32px;
        height: 32px;
        bottom: 6px; 
        right: 6px;
    }
}

/* Temporary */
@media only screen and (max-width: 700px)
{
    footer
    {
        height: 10vh;
        padding: 1vh 8vw;
    }

        #copyRight
        {
            max-width: 32%;
        }

            #copyRight p
            {
                font-size: 2vw;
            }

                #socialMedia li a
                {
                    font-size: 3.2vw;
                }
}