/* 
    Reason: Import of Poppins Google Font
    URL: https://fonts.google.com/specimen/Poppins
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #303030;
    font-family: "Poppins", sans-serif;
}

        #logo
        {
            color: white;
            font-size: 1.5rem;
            letter-spacing: 5px;
            cursor: context-menu;
            text-transform: uppercase;
        }

    /* Burger Menu */
    .menuBtn
    {
        z-index: 1;
        display: none;
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;
        position: relative;
        align-items: center;
        justify-content: center;
    }

        .menuBtn__lines, .menuBtn__lines::before, .menuBtn__lines::after
        {
            width: 1.5rem;
            height: 0.2rem;
            background-color: white;
            transition: all 0.5s ease-in-out;
        }

        .menuBtn__lines::before, .menuBtn__lines::after
        {
            content: "";
            position: absolute;
        }

        .menuBtn__lines::before
        {
            transform: translateY(-0.5rem);
        }
        
        .menuBtn__lines::after
        {
            transform: translateY(0.5rem);
        }

        /* Burger Menu Animation */
        .menuBtn.open .menuBtn__lines
        {
            background-color: transparent;
        }

        .menuBtn.open .menuBtn__lines::before
        {
            transform: rotate(45deg);
            background-color: #ffffff;
        }

        .menuBtn.open .menuBtn__lines::after
        {
            transform: rotate(-45deg);
            background-color: #ffffff;
        }

    #navList
    {
        display: flex;
        list-style: none;
        align-items: center;
        justify-content: space-between;
    }

        #navList li
        {
            background-image: none;
            background-color: none;
        }

            #navList li a
            {
                color: white;
                font-weight: 500;
                font-size: 1.05rem;
                padding: 0.5em 1em;
                letter-spacing: 2px;
                text-decoration: none;
                transition: background 0.3s ease-in;
            }

            #navList li a:hover
            {
                background-color: #8092C3;
            }

/* 
    Extra large devices (large laptops and desktops, 1200px and up)
*/
@media only screen and (max-width: 1100px)
{
                #navList li a
                {
                    padding: 0 1.54vw;
                    font-size: 1.53vw;
                }
}

/*
    Large devices (laptops/desktops, 992px and up)
*/
@media only screen and (min-width: 992px)
{

}


@media only screen and (min-width: 768px)
{
        #navBar
        {
            height: 10vh;
        }
}

/* 
    Reason: Extra small devices (phones, 600px and down)
 */
@media only screen and (max-width: 768px)
{
        #navBar
        {
            height: 10vh;
        }

            #logo
            {
                font-size: 1rem;
            }

            .menuBtn
            {
                display: flex;
            }

            #navList
            {
                left: 0;
                right: 0;
                top: 10vh;
                height: 90vh;
                position: absolute;
                flex-direction: column;
                background-size: cover;
                transform: translateX(100vw);
                background-repeat: no-repeat;
                justify-content: space-around;
                transition: transform 0.6s ease-in-out;
                background-image: url(../Images/Menu\ Bar\ Backgrounds/menuJapanBG.gif);
            }

                /* Randomized Menu Background Image */
                #navList.bg2
                {
                    background-image: url(../Images/Menu\ Bar\ Backgrounds/menuJapanBG2.gif);
                }

                #navList.bg3
                {
                    background-image: url(../Images/Menu\ Bar\ Backgrounds/menuJapanBG3.gif);
                }

                #navList.bg4
                {
                    background-image: url(../Images/Menu\ Bar\ Backgrounds/menuSpaceBG4.gif);
                }

                #navList.bg5
                {
                    background-image: url(../Images/Menu\ Bar\ Backgrounds/menuSpaceBG5.gif);
                }

                #navList.bg6
                {
                    background-image: url(../Images/Menu\ Bar\ Backgrounds/menuOPMerryBG6.gif);
                }

            /* Menu Open Animation */
            #navList.open
            {
                
                transform: translateX(0);
            }

                #navList li
                {
                    width: 60vw;
                    cursor: pointer;
                    border-radius: 10px;
                    transition: 0.4s all;
                    background-color: #3030309c;
                }

                #navList li:hover
                {
                    background-color: #0000009c;
                }

                    #navList li a
                    {
                        display: flex;
                        font-size: 5vh;
                        padding: 1rem 2rem;
                        align-items: center;
                        letter-spacing: 4px;
                        justify-content: center;
                        text-transform: uppercase;
                        text-shadow: 1px 1px 15px black;
                    }

                    #navList li a:hover
                    {
                        background-color: transparent;
                    }

        #copyRight
        {
            max-width: 30%;
            font-size: clamp(8px, 8vw, 14px);
        }
}