header
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    background: transparent;
    transition: background 0.5s ease-in;
}

/* Set Nav Sticky When Scrolling Down the Webpage */
.scrollActive
{
    transition: 0.5s all;
    background-color: #3d3d3d8f;
}

#navBar
{
    height: 10vh;
    width: 100vw;
    z-index: 1;
    display: flex;
    position: relative;
    align-items: center;
    padding: 1.13vh 11.7vw;
    /* background-color: #4e5977; */
    justify-content: space-between;
}

section
{
    /* margin-top: 10vh; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfdbe5;
}

    #content
    {
        padding: 40px 40px 40px 0;
        max-width: 50%;
    }

        #content h1
        {
            line-height: 3vw;
            font-weight: 700;
            color: #CCC7D3;
            letter-spacing: 5px;
            cursor: context-menu;
            text-transform: uppercase;
            font-size: clamp(60px, 8vw, 200px);

        }

            #content h2
            {
                color: black;
            }

                #content h2 #wave
                {
                    display: inline-block;
                    animation-duration: 3.2s;        
                    transform-origin: 70% 80%;       
                    animation-name: wave-animation;
                    animation-iteration-count: infinite;  
                }

        #content p
        {
            color: #5A4D70;
            margin: 10px 0 0 0;
            padding-right: 1rem;
            cursor: context-menu;
        }

            #content p span
            {
                font-weight: 600;
                font-size: 1.2rem;
                color: rgb(19, 0, 63);
            }

            #content p span a
            {
                color: orange;
                text-decoration: none;
            }

            #content p i
            {
                color: cyan;
                font-weight: 600;
            }

    footer
    {
        height: 15vh;
        display: flex;
        padding: 0 3em;
        position: relative;
        align-items: center;
        background-color: #4e5977;
        justify-content: space-between;
    }

        #copyRight
        {
            width: 230px;
            color: white;
            font-size: clamp(8px, 8vw, 17px);
        }

        #socialMedia
        {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;
        }

            #socialMedia li a
            {
                color: white;
                font-size: 1.5rem;
                padding: 0.5em 0.8em;
                cursor: context-menu;
            }

                #social
                {
                    transition: 0.3s all;
                }

                #social:hover
                {
                    transform: scale(1.5);
                }    