/* 
    Reason: Import of Poppins Google Font
    URL: https://fonts.google.com/specimen/Poppins
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background-color: #EEE;
    overflow-x: hidden;
}

#heroContent
{
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(0, 10, 54); */
    background-image: url("https://i.pinimg.com/originals/1b/06/72/1b06721be7fd03e8c8174318ef615ba4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    header
    {

    }

        nav
        {
            display: flex;
            min-height: 10vh;
            align-items: center;
            background-color: #131d3a0c;
            justify-content: center;
        }

            #logo
            {
                font-size: 18px;
                margin: 0 15px 0 45px;
                letter-spacing: 5px;
                text-transform: uppercase;
            }

                #logo h1
                {
                    color: #EEE;
                }

            .navList
            {
                top: 10vh;
                right: 0px;
                height: 90vh;
                position: absolute;
                background-color: #b1b1b1;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                transform: translateX(100%);
                transition: transform 0.5s ease-in;

                /* Set a random background image for cooler effect each time menu is clicked */
                background-image: url("https://i0.wp.com/cdn.statically.io/img/data.whicdn.com/images/326524746/original.gif");

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                /* opacity: 0.7; */
            }

                .navList li
                {
                    /* opacity: 0; */
                    width: 100%;
                    text-align: center;
                    padding: 20px 30px;
                    list-style: none;
                    border: 1px solid orange;
                }

                    .navList li a
                    {
                        border: 1px solid white;
                        color: black;
                        text-decoration: none;
                    }

            /* 
                Hamburger Menu
             */
            .burger
            {
                display: block;
                cursor: pointer;
            }

                .burger div
                {   
                    width: 25px;
                    height: 3px;
                    margin: 4px;
                    background-color: white;
                }

    section
    {
        /* background-color: red; */
        padding: 100px 20px;
        height: 74vh;
        text-align: center;
    }

        #content
        {
            /* height: 100%; */
            padding: 75px 0;
            /* background-color: orange; */
            color: white;
            background-color: rgba(78, 78, 78, 0.315);
            text-shadow: 1px 2px 1px black;
        }

            #content h2
            {
                font-size: 27px;
            }

                #content h2 span
                {

                }

            #content h3
            {
                font-size: 20px;
            }

            #content p
            {
                font-size: 15px;
                /* background-color: pink; */
                padding: 12px 18px;
                font-weight: 500;
                margin-top: 15px;
            }

                #content p span
                {
                    color: darkgoldenrod;
                }

                #content p span a
                {
                    text-decoration: none;
                    color: red;
                }

                #content p i
                {
                    color: cyan;
                }

    footer
    {
        padding: 15px 0;
        height: 16vh;
        /* background-color: red; */
        color: white;
    }

        #copyRight
        {
            margin: 0 auto;
            text-align: center;
            font-size: 16px;
            width: 210px;
        }

        #socialMedia
        {
            margin-top: 14px;
        }

            #socialMedia ul
            {
                display: flex;
                justify-content: center;
                align-items: center;
                /* border: 1px solid orange; */
            }

                #socialMedia ul li
                {
                    list-style: none;
                    padding: 0 12px;
                }

                    #socialMedia ul li a
                    {
                        text-decoration: none;
                    }

                    #socialMedia ul li a i
                    {
                        color: white;
                        font-size: 22px;
                    }

.navActive
{
    display: flex;
    transform: translateX(0%);
}

/* 
    Reason: Extra small devices (phones, 600px and down)
 */
@media only screen and (max-width: 600px)
{
    
}

/* 
    Extra large devices (large laptops and desktops, 1200px and up)
 */
@media only screen and (min-width: 1200px)
{

}