/* 
    Reason: Import of Poppins Google Font
    URL: https://fonts.google.com/specimen/Poppins
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body
{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    background-color: #303030;
    overflow-x: hidden;
}

#heroContent
{
    background-image: url("https://i.pinimg.com/originals/1b/06/72/1b06721be7fd03e8c8174318ef615ba4.jpg");
}

    header
    {
        height: 8vh;
    }

        #navBar
        {
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            background-color: #4e5977;
            padding: 1.13vh 11.7vw;
            z-index: 1;
        }

            #logo
            {
                cursor: context-menu;
                color: white;
                font-size: 1.5rem;
                letter-spacing: 5px;
                text-transform: uppercase;
            }

        /* Burger Menu */
        .menuBtn
        {
            position: relative;
            display: none;
            justify-content: center;
            align-items: center;
            width: 1.5rem;
            height: 1.5rem;
            cursor: pointer;
            z-index: 1;
        }

            .menuBtn__lines, .menuBtn__lines::before, .menuBtn__lines::after
            {
                width: 1.5rem;
                height: 0.2rem;
                background-color: white;
                transition: all 0.5s ease-in-out;
            }

            .menuBtn__lines::before, .menuBtn__lines::after
            {
                content: "";
                position: absolute;
            }

            .menuBtn__lines::before
            {
                transform: translateY(-0.5rem);
            }
            
            .menuBtn__lines::after
            {
                transform: translateY(0.5rem);
            }

            /* Burger Menu Animation */
            .menuBtn.open .menuBtn__lines
            {
                /* transform: translateX(2rem); */
                background-color: transparent;
            }

            .menuBtn.open .menuBtn__lines::before
            {
                transform: rotate(45deg);
                background-color: #ffffff;
            }

            .menuBtn.open .menuBtn__lines::after
            {
                transform: rotate(-45deg);
                background-color: #ffffff;
            }

        #navList
        {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;
        }

            #navList li
            {
                background-image: none;
                background-color: none;
            }

                #navList li a
                {
                    letter-spacing: 2px;
                    font-weight: 500;
                    font-size: 1.05rem;
                    padding: 0.5em 1em;
                    text-decoration: none;
                    color: white;
                    transition: background 0.3s ease-in;
                }

                #navList li a:hover
                {
                    background-color: #8092C3;
                }

    section
    {
        position: relative;
        height: 82vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .heroSection
    {
        background-color: #dfdbe5;
        /* background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.1'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
    }

        #content
        {
            padding: 40px 40px 40px 0;
            max-width: 50%;
        }

            #content h1
            {
                line-height: 3vw;
                font-size: clamp(60px, 8vw, 200px);
                font-weight: 700;
                color: #CCC7D3;
                cursor: context-menu;
                text-transform: uppercase;
                letter-spacing: 5px;
            }

                #content h2
                {
                    color: black;
                }

                    #content h2 #wave
                    {
                        animation-name: wave-animation;
                        animation-duration: 3.2s;        
                        animation-iteration-count: infinite;  
                        transform-origin: 70% 80%;       
                        display: inline-block;
                    }

            #content p
            {
                margin: 10px 0 0 0;
                color: #5A4D70;
                padding-right: 1rem;
                cursor: context-menu;
            }

                #content p span
                {
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: rgb(19, 0, 63);
                }

                #content p span a
                {
                    text-decoration: none;
                    color: orange;
                }

                #content p i
                {
                    font-weight: 600;
                    color: cyan;
                }

    footer
    {
        background-color: #4e5977;
        padding: 0 3em;
        height: 10vh;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
    }

        #copyRight
        {
            /* line-height: 3vw; */
            font-size: clamp(8px, 8vw, 17px);
            width: 230px;
            color: white;
            background-color: red;
        }

        #socialMedia
        {
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: space-between;
        }

            #socialMedia li a
            {
                color: white;
                padding: 0.5em 0.8em;
                font-size: 1.5rem;
                transition: 0.3s all;
            }

            #socialMedia li a:hover
            {
                text-shadow: 3px 3px 15px #414141;
            }

/* 
    Extra large devices (large laptops and desktops, 1200px and up)
*/
@media only screen and (max-width: 1100px)
{
                #navList li a
                {
                    padding: 0 1.54vw;
                    font-size: 1.53vw;
                }
}

/*
    Large devices (laptops/desktops, 992px and up)
*/
@media only screen and (min-width: 992px)
{
    /* #navBar
    {
        height: 10vh;
        padding: 1rem 5rem;
    } */
}


@media only screen and (min-width: 768px)
{
        #navBar
        {
            height: 10vh;
        }

            #navList
            {
                /* background-color: #4E5977; */
                /* background-image: none; */
            }
}

/* 
    Reason: Extra small devices (phones, 600px and down)
 */
@media only screen and (max-width: 768px)
{
    header
    {
        
    }

        #navBar
        {
            height: 10vh;
        }

            #logo
            {
                font-size: 1rem;
            }

            .menuBtn
            {
                display: flex;
            }

            #navList
            {
                flex-direction: column;
                justify-content: space-around;
                position: absolute;
                top: 10vh;
                right: 0;
                left: 0;
                height: 90vh;
                transform: translateX(100vw);
                background-image: url(./Images/menuJapanBG.gif);
                background-size: cover;
                background-repeat: no-repeat;
                transition: transform 0.6s ease-in-out;
            }

                /* Randomized Menu Background Image */
                #navList.bg2
                {
                    background-image: url(./Images/menuJapanBG2.gif);
                }

                #navList.bg3
                {
                    background-image: url(./Images/menuJapanBG3.gif);
                }

                #navList.bg4
                {
                    background-image: url(./Images/menuSpaceBG4.gif);
                }

                #navList.bg5
                {
                    background-image: url(./Images/menuSpaceBG5.gif);
                }

                #navList.bg6
                {
                    background-image: url(./Images/menuOPMerryBG6.gif);
                }

            /* Menu Open Animation */
            #navList.open
            {
                transform: translateX(0);
            }

                #navList li
                {
                    width: 60vw;
                    /* height: 100%; */
                    /* padding: 1rem 4rem; */
                    border-radius: 10px;
                    /* border: 1px solid yellow; */
                    background-color: #3030309c;
                    cursor: pointer;
                    transition: 0.4s all;
                }

                #navList li:hover
                {
                    background-color: #0000009c;
                }

                    #navList li a
                    {
                        padding: 1rem 2rem;
                        font-size: 5vh;
                        display: flex;
                        justify-content: center;
                        text-shadow: 1px 1px 15px black;
                        align-items: center;
                        text-transform: uppercase;
                        letter-spacing: 4px;
                        /* width: 100%; */
                        /* height: 100%; */
                    }

                    #navList li a:hover
                    {
                        background-color: transparent;
                    }

   #content
   {
       /* background-color: red; */
       max-width: 100%;
       width: clamp(300px, 50vw, 600px);
   }
   
        #copyRight
        {
            /* transition: 0.5s ease-in-out; */
            max-width: 30%;
            font-size: clamp(8px, 8vw, 14px);
        }
}

@media only screen and (max-width: 700px)
{
    footer
    {
        height: 10vh;
        padding: 1vh 8vw;
    }

        #copyRight
        {
            max-width: 32%;
        }

            #copyRight p
            {
                font-size: 2vw;
            }

        #socialMedia
        {

        }

                #socialMedia li a
                {
                    font-size: 3.2vw;
                }
}

/* 
    Wave Emoji Wave Animation
 */
@keyframes wave-animation
{
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
}

/* #heroContent
{
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 10, 54);
    background-image: url("https://i.pinimg.com/originals/1b/06/72/1b06721be7fd03e8c8174318ef615ba4.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    header
    {

    }

        nav
        {
            display: flex;
            min-height: 10vh;
            align-items: center;
            background-color: #131d3a0c;
            justify-content: center;
        }

            #logo
            {
                font-size: 18px;
                margin: 0 15px 0 45px;
                letter-spacing: 5px;
                text-transform: uppercase;
            }

                #logo h1
                {
                    color: #EEE;
                }

            .navList
            {
                top: 10vh;
                right: 0px;
                height: 90vh;
                position: absolute;
                background-color: #b1b1b1;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                transform: translateX(100%);
                transition: transform 0.5s ease-in;

                background-image: url("https://i0.wp.com/cdn.statically.io/img/data.whicdn.com/images/326524746/original.gif");

                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }

                .navList li
                {
                    width: 100%;
                    text-align: center;
                    padding: 20px 30px;
                    list-style: none;
                    border: 1px solid orange;
                }

                    .navList li a
                    {
                        border: 1px solid white;
                        color: black;
                        text-decoration: none;
                    }

            .burger
            {
                display: block;
                cursor: pointer;
            }

                .burger div
                {   
                    width: 25px;
                    height: 3px;
                    margin: 4px;
                    background-color: white;
                }

    section
    {
        padding: 100px 20px;
        height: 74vh;
        text-align: center;
    }

        #content
        {
            padding: 75px 0;
            color: white;
            background-color: rgba(78, 78, 78, 0.315);
            text-shadow: 1px 2px 1px black;
        }

            #content h2
            {
                font-size: 27px;
            }

                #content h2 span
                {

                }

            #content h3
            {
                font-size: 20px;
            }

            #content p
            {
                font-size: 15px;
                padding: 12px 18px;
                font-weight: 500;
                margin-top: 15px;
            }

                #content p span
                {
                    color: darkgoldenrod;
                }

                #content p span a
                {
                    text-decoration: none;
                    color: red;
                }

                #content p i
                {
                    color: cyan;
                }

    footer
    {
        padding: 15px 0;
        height: 16vh;
        color: white;
    }

        #copyRight
        {
            margin: 0 auto;
            text-align: center;
            font-size: 16px;
            width: 210px;
        }

        #socialMedia
        {
            margin-top: 14px;
        }

            #socialMedia ul
            {
                display: flex;
                justify-content: center;
                align-items: center;
            }

                #socialMedia ul li
                {
                    list-style: none;
                    padding: 0 12px;
                }

                    #socialMedia ul li a
                    {
                        text-decoration: none;
                    }

                    #socialMedia ul li a i
                    {
                        color: white;
                        font-size: 22px;
                    }

.navActive
{
    display: flex;
    transform: translateX(0%);
}*/